// ==========================================================================
// BASE
// ==========================================================================

* {
	font-family: $font-primary;
}

*, *:after, *:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body {
	color: $dark-grey;
	font-size: 16px;
	line-height: 1.2;
	overscroll-behavior: none;
}

/**
 *	Font sizes
 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	font-family: $font-heading;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.02em;
	margin-top: 0;
	margin-bottom: 30px;
	
	@media screen and (min-width: $screen-tablet-portrait) {
		margin-bottom: 30px;
		margin-bottom: 2.08333vw;	
	}

	@media screen and (min-width: $screen-extralarge) {
		margin-bottom: 28px;
	}

}

h1, .h1 {
	// font-size: 42px;
	// line-height: 50px;
	@include calculateFluidFontSize(42, 50, 1440);
	font-weight: 700;	
	
	@media screen and (min-width: $screen-tablet-portrait) {

	}

	@media screen and (min-width: $screen-extralarge) {
		@include calculateFluidFontSize(42, 50, 0);
	}
}

h2, .h2 {
	// font-size: 36px;
	// line-height: 43px;
	@include calculateFluidFontSize(28, 34, 0);
	font-weight: 500;	
	
	@media screen and (min-width: $screen-tablet-portrait) {
		@include calculateFluidFontSize(36, 43, 1440);
	}

	@media screen and (min-width: $screen-extralarge) {
		@include calculateFluidFontSize(36, 43, 0);
	}
}

h3, .h3 {
}

h4, .h4 {

}

p {
	font-family: $font-primary;
	// font-size: 16px;
	// line-height: 24px;
	@include calculateFluidFontSize(14, 21, 0);
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 30px;
	color: $black;

	@media screen and (min-width: $screen-tablet-portrait) {
		margin-bottom: 30px;
		margin-bottom: 2.08333vw;	
		@include calculateFluidFontSize(16, 24, 1440);
	}

	@media screen and (min-width: $screen-extralarge) {
		@include calculateFluidFontSize(16, 24, 0);
		margin-bottom: 30px;
	}
}

input[type=text] {
	width: 365px;
	max-width: 100%;
	padding: 14px;
	border: 0;
	border-bottom: 2px solid #A8A5A5;
	outline: none;
	position: relative;
	
	&::-webkit-input-placeholder { /* Edge */
	  color: rgba($black, 0.3);
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: rgba($black, 0.3);
	}

	&::placeholder {
	  color: rgba($black, 0.3);
	}

}



.row {
	position: relative;
	display: flex;
	flex-direction: column;
}
.col {
	position: relative;
	width: 100%;
	flex-basis: 100%;

	& + .col {
		margin-top: 30px;
	}
}


@media screen and (min-width: $screen-tablet-portrait) {

	.row {
		flex-direction: row;
	}

	.col {
		& + .col {
			margin-top: 0;
		}
	}

	.col-2 {
		width: calc(100% / 6);
		flex-basis: calc(100% / 6);
	}
	.col-4 {
		width: calc(100% / 3);
		flex-basis: calc(100% / 3);
	}
	.col-6 {
		width: 50%;
		flex-basis: 50%;
	}
	.col-8 {
		width: 66.66666%;
		flex-basis: 66.66666%;
	}

	/* special alingment as per design file*/
	.col-54p {
		width: 54%;
		flex-basis: 54%;
	}
	.col-46p {
		width: 46%;
		flex-basis: 46%;
	}
}