// ==========================================================================
// Colour definitions
// ==========================================================================

$black: #000;
$white: #fff;

$emerald-green: #4BA21C;
$grey: #F9F9F9;
$dark-grey: #5C5C5C;
$darker-grey: #262628;
$yellow: #F5D410;
$orange: #D67C1C;
$pink: #CF6088;
$purple: #AE67A2;
$cyan: #83BEEB;
$light-green: #B6C932;
$aqua: #7CB9AB;

$red: #da0101;
$light-pink: #f8cccc

	