// ==========================================================================
// Typography
// ==========================================================================

/**
 *	Webfonts
 */
@font-face {
  font-family: 'Museo-700';
  src: url('../../../fonts/Museo-700.eot?#iefix') format('embedded-opentype'),  url('../../../fonts/Museo-700.woff') format('woff'), url('../../../fonts/Museo-700.ttf')  format('truetype'), url('../../../fonts/Museo-700.svg#Museo-700') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrebuchetMS';
  src: url('../../../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),  url('../../../fonts/TrebuchetMS.woff') format('woff'), url('../../../fonts/TrebuchetMS.ttf')  format('truetype'), url('../../../fonts/TrebuchetMS.svg#TrebuchetMS') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'TrebuchetMS-Bold';
  src: url('../../../fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),  url('../../../fonts/TrebuchetMS-Bold.woff') format('woff'), url('../../../fonts/TrebuchetMS-Bold.ttf')  format('truetype'), url('../../../fonts/TrebuchetMS-Bold.svg#TrebuchetMS-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**
 *	Variables
 */
$font-heading: 'Museo-700', sans-serif;
$font-steps: 'Museo-700', sans-serif;
$font-button--back-next: 'TrebuchetMS-Bold', sans-serif;
$font-button--yes-no: 'TrebuchetMS', sans-serif;

$font-primary: 'TrebuchetMS', sans-serif;
$font-secondary: 'Museo-700', sans-serif;


/**
 *	Mixins
 */
@mixin calculateFluidFontSize($fontSize, $lineHeight, $screenLimit) {
	/* FONT SIZE */

	@if $screenLimit == 0 {
		font-size: $fontSize + px;
		line-height: $lineHeight + px;
   } @else {
		font-size: $fontSize + px;
		line-height: $lineHeight + px;
		font-size: ( ( $fontSize / $screenLimit ) * 100 ) + vw;
		line-height: ( ( $lineHeight / $screenLimit ) * 100 ) + vw;
   }

}