<div id="step-counter" class="counter">
	<div class="counter-inner">
		<span class="" id="step-counter--current">1</span> 
		<span class="separator">/</span> 
		<span class="" id="step-counter--total">7</span>
	</div>
</div>
