{{!-- Template: Popup --}}

<div class="popup-overlay"></div>
<div class="popup">
	
	<div class="popup--close" id="popup--close"></div>
	
	<div class="popup-body">
		<div class="popup-input">
			<input type="text" placeholder="{{@root.translations.landing.youremail}}" id="email_unsubscribe" class="popup-input--input" />
			<span></span>
			<button class="button button--round button--green button--align-right" id="doUnsubscribe">
				{{translations.unsubscribe}}
			</button>

		</div>
	</div>

	<div class="popup-footer">
	</div>

</div>