{{!-- Template: Popup --}}

<div class="popup-overlay"></div>
<div class="popup">
	<div class="popup--close" id="popup--close"></div>
	<div class="popup-body" id="popupBody">
		{{!-- Content to show comes here --}}
	</div>
	<div class="popup-footer"></div>
</div>