/* Utilities */
@import 'utilities/normalize';
@import 'utilities/breakpoints';

/* Base */
@import 'base/colours';
@import 'base/typography';
@import 'base/base';


.survey {
	
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 25%;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		background-color: $emerald-green;
		z-index: 2;

		@media screen and (min-width: $screen-tablet-portrait) {
			width: 20%;
			height: 100%;
			left: 0;
			top: 0;
			right: 0;
			bottom: initial;
    }

    @media screen and (min-width: $screen-extralarge) {
			width: calc(( (100vw - 1026px) / 2 ) + 75px);
    }

	}

	&-body {
		
    padding: 50px 15px 34px 15px;
    background-color: $grey;

    @media screen and (min-width: $screen-tablet-portrait) {
    	position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
    	padding: 0 15px;
    	display: flex;
	    justify-content: center;
	    // align-items: flex-start;
    	align-items: center;
    }

	}

	@import 'components/buttons';
	@import 'components/component';
}