/* Utilities */
@import 'utilities/normalize';
@import 'utilities/breakpoints';

/* Base */
@import 'base/colours';
@import 'base/typography';
@import 'base/base';


.survey  {
	
	&:before {
		content: '';
		display: block;
		width: 20%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background-color: $emerald-green;
		z-index: -1;

	}

	&-body {
		position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	}

	@import 'components/buttons';
	@import 'components/component';
}